################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Benner.Corporativo.Contabilizacao.Consumer/bin/Debug/netcoreapp2.2
